.header{
    background-color: #132431;
    align-items: center;

    >.container-select{
        margin-left: 50px;
        color: white;
    }

    >.logo-header{
        max-width: 50px;
        margin-left: 300px;
        padding: 10px 0;
    }
}


